.jumperOff img {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  top: -138px;
  left: 0;
}

.jumperOn img {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -138px;
  left: 0;
}
