@media screen and (min-width: 760px) {
  .letsPlay {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .container {
      position: relative;
      width: 100vw;
      .blurTab {
        margin-left: 20vw;
        width: 48vh;
        .blur,
        .noBlur {
          width: calc(48vh / 3);
          height: calc(75vh / 4);
        }
      }
      .jumperOff img {
        width: 100vw;
        height: 100vh;
        display: none;
        position: absolute;
        top: -138px;
        left: 0;
      }

      .jumperOn img {
        z-index: 99;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: -138px;
        left: 0;
      }
      .quizz {
        width: 100vw;
        height: auto;
        display: flex;

        div img {
          margin-left: 20vw;
          width: 48vh;
          height: 75vh;
        }
        .answer {
          width: 48vw;
          margin: 10vh 0;
        }
      }
    }
  }
}
