.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  align-items: center;
}
